@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    --grey-900: #141414;
    --grey-800: #1f1f1f;
    --grey-700: #333333;
    --green: #c4F82A;

    margin: 0px;
    padding: 0px;
    font-family: Inter, sans-serif;
    
}
.text-1 {
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0px;
}
.text-2-Bold {
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0px;
}
#location{
    color: var(--green);
}
body{
    background-color: var(--grey-900);
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 100px;
    align-items: center;
}
p {
    color: white;
}
a {
    text-decoration: none;
    color: white;
}
li {
    color: white;
    list-style: none;
    background-color: var(--grey-700);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 304px;
    padding: 12px;
    border-radius: 8px;
}
img {
    width: 88px;
    border-radius: 44px;
}
main {
    justify-self: center;
    background-color: var(--grey-800);
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 24px;
    border-radius: 12px;
}   

.name_location {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr;
    justify-items: center;
}
ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.attribution{
    text-decoration: none;
    color: var(--green);
}
.attribution a {
    color: white;
}